<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <!-- Navigation -->
  <ul class="nav fixed-top">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/books">All Recipes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/books/<%= data._id%>">>Create Recipe</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/myRecipe">My Recipes</a>
    </li>

    <div>
      <form action="/sessions?_method=DELETE" , method='POST'>
        <input type="submit" value="Log Out" style="background-color: #08753c; color:white; border-style: none;">
      </form>
    </div>
    <% if(isOwner) { %>
    <div class="buttons-div">
      <form action="/books/<%= item.title%>?_method=DELETE" method="POST">
        <button class="btn card-btn" type="submit">Delete Recipe</button>
      </form>
      <span style="width: 30px"></span>
      <div>
        <a href="/books/<%= item.title%>/edit"><button class="btn card-btn" type="submit">Edit Recipe</button></a>
      </div>
    </div>

    <% } %>
  </ul>

  <!-- Products -->
  <div class="container show-container">

    <div class='top-box'>
      <div class="image-box">
        <img src="<%=item.img%>" style="width: 500px; height: 350px;">
      </div>
      <div class="title-box">
        <h1><%= item.title %></h1><br>
      </div>
    </div>
    
    <!-- shijie's code -->
    <div>
      <p><%= data.description %></p>
    </div>
    <!-- finishes here -->

    <div class="ing-dir-div">
      <div class="card border-success mb-3" style="width: 90%;">
        <div class="card-header">Ingredients</div>
        <div class="card-body">
          <% item.ingredients.forEach(ingredient => { %>
          <p class=""><%=ingredient%></p>

          <%});%>

        </div>
      </div>

      <div class="card border-success mb-3" style="width: 90%;">
        <div class="card-header">Directions</div>
        <div class="card-body">
          <% item.directions.forEach(step => { %>
          <p class=""><%=step %></p>
          <%});%>
        </div>
      </div>

      <div class="card border-success mb-3" style="width: 90%;">
        <div class="card-header">To Serve</div>
        <div class="card-body">
          <p><%=item.toServe%></p>
        </div>
      </div><br><br>

 

  </div>
</div>



  <!--===============================================================================================-->
  <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/bootstrap/js/popper.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/daterangepicker/moment.min.js"></script>
  <script src="/vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
  <script src="/js/main.js"></script>